.section
  .row
    .small-12.columns
      br
      span [b]
      span(data-hook='name')
      span [/b]
  .row
    .small-12.columns
      span [list]
      span(data-hook='sets')
      span [/list]
  .row
    .small-12.columns
      span(data-hook='comment-label') [i]
      span(data-hook='comment')
      span(data-hook='comment-label') [/i]
