.clearfix(data-hook='delete-buttons')
  a.radius.button.tiny.left(data-hook='delete-workout') Yes, delete this workout
  a.radius.button.tiny.dismiss-reveal-modal.right No, do not delete this workout
