table.table(role='grid')
  tr
    th(data-hook='name')
    th Weight
    th Reps
  tr
    td Warmup
    td(data-hook='warmup1')
    td 5
  tr
    td
    td(data-hook='warmup2')
    td 5
  tr
    td
    td(data-hook='warmup3')
    td 3
  tr
    td Wave 1
    td(data-hook='wave1-set1')
    td 5
  tr
    td
    td(data-hook='wave1-set2')
    td 5
  tr
    td
    td(data-hook='wave1-set3')
    td 5+
  tr
    td Wave 2
    td(data-hook='wave2-set1')
    td 3
  tr
    td
    td(data-hook='wave2-set2')
    td 3
  tr
    td
    td(data-hook='wave2-set3')
    td 3+
  tr
    td Wave 3
    td(data-hook='wave3-set1')
    td 5
  tr
    td
    td(data-hook='wave3-set2')
    td 3
  tr
    td
    td(data-hook='wave3-set3')
    td 1+
