table.table(role='grid')
  tr
    th(data-hook='name')
    th Weight
    th Reps
  tr
    td Warmup
    td(data-hook='warmup_1')
    td 5
  tr
    td
    td(data-hook='warmup_2')
    td 5
  tr
    td
    td(data-hook='warmup_3')
    td 3
  tr
    td Wave 1
    td(data-hook='wave1_1')
    td 5
  tr
    td
    td(data-hook='wave1_2')
    td 5
  tr
    td
    td(data-hook='wave1_3')
    td 5+
  tr
    td Wave 2
    td(data-hook='wave2_1')
    td 3
  tr
    td
    td(data-hook='wave2_2')
    td 3
  tr
    td
    td(data-hook='wave2_3')
    td 3+
  tr
    td Wave 3
    td(data-hook='wave3_1')
    td 5
  tr
    td
    td(data-hook='wave3_2')
    td 3
  tr
    td
    td(data-hook='wave3_3')
    td 1+
