.row
  .small-12.columns
    .row
      .small-12.columns
        span(data-hook='name')
    .row
      .col-md-12
        ul.no-bullet.inline-list(data-hook='sets')
    .row
      .col-md-12
        span(data-hook='comment-label') *Comments:*&nbsp;
        span(data-hook='comment')
