.row
  .small-12.columns
    .row
      .small-12.columns ####&nbsp;
        span(data-hook='name')
    .row
      .small-12.columns(data-hook='sets')
    .row
      .small-12.columns
        span(data-hook='comment-label') &gt;
        span(data-hook='comment')
    .row
      .small-12.columns
        br
