div
  p This will allow you to send invites and recover your password should you lose it
  p When you click this button an email will be sent to <span data-hook="email"></span>.  Click the link in that email.  That's it.
  a.button(data-hook='request') Send Validation
