div
  p Welcome, friend! Tell us a little about yourself and we'll create your account.
  form(data-abide)
    .row
      .small-4.columns
        label(for='name') Name
      .small-8.columns
        input(type='text' id='name' name='name' placeholder='What should we call you?' required)
        small.error You need a name
    .row
      .small-4.columns
        label(for='email') Email (this will be your login)
      .small-8.columns
        input(type='email' id='email' name='email' placeholder='Email address' required autocapitalize='off' autocorrect='off')
        small.error A valid email is required.
    .row
      .small-4.columns
        h3
          label(for='password') Password
      .small-8.columns
        input(type='password' id='password' name='password' placeholder='New password' pattern='[\\W\\w]{8,}' required)
        small.error Passwords must be at least 8 characters long
    .row
      .small-4.columns
        h3
          label(for='passwordConfirm') Confirm Password
      .small-8.columns
        input(type='password' id='passwordConfirm' name='passwordConfirm' placeholder='Re-type new password' data-equalto='password')
        small.error Passwords must match
    .row
      .small-12.columns
        input.button(type='submit' value='Create account')
  .reveal-modal(data-hook='error' data-reveal)
    h3 Error
    span Oh no! There was an unexpected error signing you up.
    br
    span You may want to contact me <a href="mailto:support@lift.zone">here</a> or on the Twitter link below.
    .clearfix
      a.button.tiny.radius.dismiss-reveal-modal.left Ok
  .reveal-modal(data-hook='taken' data-reveal)
    h3 You already signed up?
    span This is awkward. It would seem you already signed up with that email address.
    br
    span If you need to recover your password you can do so <a href="/recover">here</a>
    .clearfix
      a.button.tiny.radius.dismiss-reveal-modal.left Ok
