.row.panel
  .large-3.large-push-6.small-6.columns
    p #[strong(data-hook='workout-date')]
  .large-3.large-push-6.small-6.columns
    p #[em(data-hook='workout-activities')]
  .large-6.large-pull-6.small-12.columns
    a.small.radius.button(data-hook='workout-name')
