@import "settings";
@import "foundation";

.pr {
  font-weight: bold;
}

.pr::after {
  font-style: oblique;
  font-size: 75%;
  content: ' (pr)';
}

.circle {
  border-radius: 50%;
  padding-left: 0.45rem;
  padding-right: 0.45rem;
}

.primary-bg-color {
  background-color: $primary-color;
}

.secondary-bg-color {
  background-color: $secondary-color;
}

.alert-bg-color {
  background-color: $alert-color;
}

.success-bg-color {
  background-color: $success-color;
}

.warning-bg-color {
  background-color: $warning-color;
}

.info-bg-color {
  background-color: $info-color;
}

li.comma-separated::after {
  content: ","
}
li.comma-separated:last-child::after {
  content: ""
}

blockquote.short {
  padding-left: 9px;
  padding-top: 0px;
}
