section
  h1 What the heck even is this?
  p I like to log my workouts in more than one place, and they all take different formats. One takes bbcode, the next markdown.  Typing them up even once in any of those formats is a chore, let alone more than one.
  p This little utility site is an attempt to solve that problem: I can type my workout in what feels to my like natural typing, and it easily converts to the formats I need.
  p There is also a function to translate the workouts as they print out on Fitocracy, since that's a common thing people seem to want.
  p Currently only weightxreps logs work (or just reps), In the future I may add things that have a time/distance element.  If you have something that's not working, or have a different format you would like to see hit me up on <a href="https://github.com/wraithgar/lift.gar.zone">github</a>
  p Feedback is welcome, you can also email me <a href="mailto:gar+lifts@danger.computer">here</a>
  p Powered with love from:
  p.text-center
    a(href='http://danger.computer')
      img(src="http://danger.computer/fireball/danger-s.png")
      br
      | The Danger Computer
