section.page.home
  row
    .col-sm-6
      form(role='form')
        .form-group
          label.radio Format
          input(type='radio' name='format' value='md' data-hook='format')
          =" Markdown "
          input(type='radio' name='format' value='bb' data-hook='format')
          =" BBCode "
        .form-group
          label Workout
          textarea.form-control(data-hook='raw' rows=50 placeholder='Gartracked Workout for 1000ptsOct 9, 2014\nCurls\n15 lb x 10 reps 11\n15 lb x 10 reps 11\n15 lb x 10 reps 11\n15 lb x 10 reps 11\n15 lb x 10 reps 11\nHammer Curls\n135 lb x 10 reps 25\n135 lb x 10 reps 25\n135 lb x 10 reps 25\n135lb x 10 reps 25\nDB Curls\n25 lb x 10 reps 57\n25 lb x 10 reps 57\n25 lb x 10 reps (PR) 57' id='rawInput')
    .col-sm-6
      .workout(data-hook='formatted')
      .instructions
        h1 Workout Log from Fitocracy
        ol
          li Copy your workout on fitocracy
          li Paste your workout in the box
          li Select an output format
          li Copy and paste it wherever
          li Have a great day
