section
  .row
    .small-12.columns
      h1 Settings for 
        span(data-hook='name')
  hr
  .row.error(data-hook='invalid')
    .alert-box.alert.round Your email is not validated! You will not be able to send invites or recover from a lost password.  You should go validate your email now.
  .row.panel
    span To change your account settings (name, password, email) 
    span(data-hook='invalid') or to validate your email 
    span please go to 
    a(href='#{accountsUrl}/me', target='_blank') the accounts server
