div
  div.contain-to-grid
    nav.top-bar(data-topbar role='navigation' data-hook='navigation')
      ul.title-area
        li.name
          h1
            a(href='/') lift.zone
        li.toggle-topbar.menu-icon
          a(href='#') Menu
      section.top-bar-section
        ul.right(data-hook='menu')
          li.has-dropdown
            a(href='/workouts') Workouts
            ul.dropdown
              li
                a(href='/workouts/new') New
          li
            a(href='/activities') Activities
          li
           a(href='/tools') Tools
          li &nbsp;
          li
            a.button(href='/login' data-hook='nav-user-name') Log in
          li(data-hook='nav-admin' data-anddom-display data-anddom-hidden='true' style='display: none;')
            a(href='/admin') Admin
          li(data-hook='nav-logout' data-anddom-display data-anddom-hidden='true' style='display: none;')
            a(href='/logout') Logout

  .alert-box.info(data-hook='page-message' data-alert data-anddom-display data-anddom-hidden='true' style='display: none;')
  div(data-hook='page-container')
    block page
  .row
    hr
    .left
      dl.sub-nav(data-hook='navigation')
        dd
          a(href='/privacy') Privacy
        dd
          a(href='/about') About
        dd
          a(href='/news') News
        dd
          a(href='https://twitter.com/wraithgar')
            i.fa.fa-twitter
    .right
      dl.sub-nav
        dd © 2016 Michael Garvin
