.row
  h6
    span(data-hook='name')
    span &#xa0;
    span.circle.alert-bg-color(data-hook='new')
      i.fa.fa-question
  ul.no-bullet(data-hook='sets')
  button.label.secondary.radius(data-hook='comment')
  br
  .reveal-modal(data-hook='chooseAlias', data-reveal)
    ul.pricing-table
      li.title New activity
      li.description This is the first time you've done this activity.
      li.bullet-item.cta-button
        .row
          .small-12.medium-6.medium-centered.columns
            .text-left I meant what I typed
            br
            ul.stack.button-group(data-hook='newActivity')
            br
      li.bullet-item.cta-button
        .row
          .small-12.medium-6.medium-centered.columns
            .text-left I really meant
            br
            ul.stack.button-group(data-hook='suggestions')
            br
      li.bullet-item.cta-button
        .row
          .small-12.medium-6.medium-centered.columns
            .text-left No, let me go back and edit that
            br
            ul.stack.button-group
              li.text-left
                a.dismiss-reveal-modal.button.tiny.radius(href='#', data-hook='close')
                  i.fa.fa-arrow-left
            br
