section
  .row
    .small-12.columns
      h1 What the heck even is this?
  hr
  .row.panel
    p I like to log my workouts in more than one place, and they all take different formats. One takes bbcode, the next markdown.  Typing them up even once in any of those formats is a chore, let alone more than one.
    p This little utility site is an attempt to solve that problem: I can type my workout in what feels to my like natural typing, and it easily converts to the formats I need.
    p There is also a function to translate the workouts as they print out on Fitocracy, since that's a common thing people seem to want.
    p I also added a 531 calculator that auto-saves cause I wanted that too.
    p If you find something that's not working, or have a different format you would like to see, or just have some feedback you can email me <a href="mailto:gar+code@danger.computer">here</a>
    p Powered with love from:
    p.text-center
      a(href='http://danger.computer')
        img(src='/img/danger-computer.png')
        br
        | The Danger Computer
