section
  .row
    ul.breadcrumbs
      li
        a(href='/activities') Activities
      li.current
        a(data-hook='activity-name')
  .row
    .small-12.columns
      h1
        span Activity History:&nbsp;
        br.show-for-small-only
        span(data-hook='activity-name')
    hr
  .row
    .small-12.columns(data-hook='activity-history')
  .row
    .small-6.columns
      button.round.tiny.button.left(data-hook='activities-prev') &lArr;
    .small-6.columns
      button.round.tiny.button.disabled.right(data-hook='activities-next' disabled) &rArr;
