section
  .row
    .small-12.columns
      h1 Admin
  hr
  .row.panel.radius
    .small-12.columns
      table.table(role='grid')
        thead
          tr
            th Name
            th Validated
            th Workouts
            th Activities
            th Invites
        tbody(data-hook='users')
