section
  .row
    .small-12.columns
      h1 Workout Log from Fitocracy
      h5 Copy your workout from fitocracy and paste it into the box, then select a format
    hr
  .row
    .small-6.columns
      form(role='form')
        .form-group
          label.radio Format
          input(type='radio' name='format' value='md' data-hook='format')
          =" Markdown "
          input(type='radio' name='format' value='mdFull' data-hook='format')
          =" Markdown Long"
          br
          input(type='radio' name='format' value='bb' data-hook='format')
          =" BBCode "
          input(type='radio' name='format' value='bbFull' data-hook='format')
          =" BBCode Long"
        .form-group
          label Workout
          textarea.form-control(data-hook='raw' rows=50 placeholder='Paste fitocracy workout here', title='fitocracy workout' id='rawInput')
    .small-6.columns
      div(data-hook='formatted')
      div(data-hook='credits')
