section
  .row
    .small-12.columns
      h1 Welcome to the lift zone
  hr
  if locals.loggedIn
    .row
      .small-12.columns
        .panel
          h3 You are logged in
          p Go use lift.zone now. Please work out.
          p Check out the #[a(href='/news') news] page for the latest info on lift.zone
          if !locals.validated
            p You should <a href='/validate'>validate</a> your email address before you go.  Validated accounts can recover lost passwords and send invites to other people.
            p.alert Fair warning, if you lose your password and your account isn't validated you're out of luck.
  else
    .row.panel
      .small-12.columns
        h3 lift.zone is a website for logging your workouts.
        p Check the #[a(href='/about') about] page for more info on how it works.
        p If you'd like to try it out hit me up on Twitter (#[a(href='https://twitter.com/wraithgar') @wraithgar]) to get an invite.
    .row
      .medium-6.medium-centered.columns.panel.callout
        form(data-abide)
          .row
            .small-12.columns
            h3 Got an invite code? Enter it here
          .row
            .small-12.columns
              input(type='text', id='invite', name='invite', placeholder='Invite code', required)
              small.error Please enter an invite code
          .row
            .small-12.columns
              input.button(type='submit', value='Sign up')
