section
  .row
    .small-12.columns
      h1 Welcome to the lift zone
  hr
  if locals.loggedIn
    .row
      .small-12.columns
        .panel
          h3 You are logged in
          p Go use lift.zone now
          p Or check your <a href='/me'>account info</a>
          if !locals.validated
            p You should <a href='/validate'>validate</a> your email address before you go.  Validated accounts can recover lost passwords and send invites to other people.
            p Last warning, if you lose your password and your account isn't validated you're out of luck.
  else
    .row.panel
      .small-12.columns
          h3 Sign up or log in
          p If you already have an account, click the login link above
          p If you don't want an account, check out `utils` up above
    .row.panel
      .small-12.columns
        form(data-abide)
          .row
            .small-12.columns
            h3 Got an invite code? Enter it here
          .row
            .small-4.columns
              label(for='invite') Invite Code
            .small-8.columns
              input(type='text', id='invite', name='invite', placeholder='Invite code', required)
              small.error Please enter an invite code
          .row
            .small-12.columns
              input.button(type='submit', value='Sign up')
