
section
  .row
    .small-12.columns
      h1 Invites
      p Here are the invite codes you have left. Give them to friends (one code per friend) and let them try lift.zone!
    hr
  .row.panel.radius(data-hook='invites')
