section
  .row
    .small-12.columns
      h3 New Workout
      p Start typing your activities.  Start with a date or day of week to specify the day of the workout.
  form
    .row
      .small-12.medium-6.columns
        .row
          .small-12.columns
            label(data-hook='name-label') Name&#xa0;
              input(data-hook='name-input', placeholder='name your workout', name='name')
            label(data-hook='date-label') Date&#xa0;
              input(data-hook='date-input', placeholder='Dec 12, 2014')
            textarea(data-hook='workout-input' rows=5 placeholder='Enter your workout here.', title='Workout' id='rawInput')
            br
        .row.clearfix
          .small-12.medium-6.columns(data-hook='workout')
            input.radius.button.left(value='Save', data-hook='saveWorkout')
      .small-12.medium-6.columns
        h3(data-hook='workout-name') Workout Name
        h4(data-hook='workout-date') Workout Date
        h6 Activities
        p(data-hook='workout-activities')

  .reveal-modal(data-hook='new-activities', data-reveal)
    h3 New activities
    span There are new activities in this workout, please confirm their names by clicking on the&#xa0;
    span.circle.info-bg-color
      i.fa.fa-question
    span &#xa0;next to their names
    .clearfix
      a.button.tiny.radius.dismiss-reveal-modal.left Ok
  .reveal-modal(data-hook='workout-exists', data-reveal)
    h3 Workout exists
    span There is already a workout for this day, either change the date or go edit the workout directly
    .clearfix
      a.button.tiny.radius.dismiss-reveal-modal.left Ok
