section
  .row
    .small-12.columns
      h1 lift.zone news
      p Here's the latest info on this site and what's coming next
    hr
  .row.panel.radius
    .small-12.columns
      .panel.callout
        h3 Tuesday, February 7 2017
        h5 Weight units
        p In your profile you can set your weight unit to either lb or kg.  This will only affect the default weight unit used if you don't specify one in your sets.  Other people's workouts will not be converted, and existing workouts you have made will not be converted.
    .small-12.columns
      .panel.callout
        h3 Monday, January 30 2017
        h5 Delete workouts
        p You can now delete a workout.
    .small-12.columns
      .panel.callout
        h3 Tuesday, January 24 2017
        h5 Return of 531
        p The 531 calculator has been re-added to the site.
  .row.clearfix
    .small-12.columns
      a.button.round.tiny.button.left(href='/old-news') &lArr; Previous news
