section
  .row
    .large-4.columns
      h1(data-hook='workout-name')
      h3 By:&nbsp;
        span(data-hook='workoutUser')
      h6(data-hook='workout-date')
  hr
  .row
    .medium-9.columns
      dl.sub-nav(role='menu' title='Change workout format')
        dt Format
        dd(data-hook='format-nav-short')
          a(href='#short' data-hook='change-format') Short
        dd(data-hook='format-nav-long')
          a(href='#long' data-hook='change-format') Long
        dd(data-hook='format-nav-raw')
          a(href='#raw' data-hook='change-format') Raw
  .row(data-hook='long-format')
    .medium-8.medium-centered.columns.panel.radius(data-hook='activities-long')
  .row(data-hook='short-format')
    .medium-8.medium-centered.columns.panel.radius(data-hook='activities-short')
  .row(data-hook='raw-format')
    .medium-8.medium-centered.columns.panel.radius
      h4 What they typed
      blockquote
        pre(data-hook='raw')
