section
  .row
    .large-4.large-push-8.columns
      br
      a.radius.button.right(data-hook='edit-link') Edit this workout
    .large-8.large-pull-4.columns
      h1(data-hook='workout-name')
      h3(data-hook='workout-date')
  hr
  .row
    .medium-9.columns
      dl.sub-nav(role='menu' title='Change workout format')
        dt Format
        dd(data-hook='format-nav-short')
          a(href='#short' data-hook='change-format') Short
        dd(data-hook='format-nav-long')
          a(href='#long' data-hook='change-format') Long
        dd(data-hook='format-nav-raw')
          a(href='#raw' data-hook='change-format') Raw
        dd(data-hook='format-nav-share')
          a(href='#share' data-hook='change-format') Share
  .row(data-hook='long-format')
    .medium-8.medium-centered.columns.panel.radius(data-hook='activities-long')
  .row(data-hook='short-format')
    .medium-8.medium-centered.columns.panel.radius(data-hook='activities-short')
  .row(data-hook='raw-format')
    .medium-8.medium-centered.columns.panel.radius
      h4 What you typed
      blockquote
        pre(data-hook='raw')
  .row(data-hook='share-format')
