section
  .row
    .small-12.columns
      h1 Tools
      p Here are a few helpful tools.  Some of them are links to other sites.
      p Links to other sites are indicated with *
    hr
  .row.panel
    ul
      li
        a(href='/tools/531') 5/3/1 Calculator
      li
        a.secondary(href='http://horriblenerds.com/squatbot/') Squatbot (Bill Starr Intermediate 5x5 Calculator)
        | *
