section
  .row
    .small-12.columns
      h1 Utils
      p These utils don't need a login, they're just a few utility functions
  hr
  .row.panel
    ul
      li
        a(href='#/utils/parser') Workout Parser
      li
        a(href='#/utils/fitocracy') Fitocracy Parser
      li
        a(href='#/utils/531') 531 Calculator
