section
  .row
    .small-12.columns
      h1(data-hook='workoutName')
      h3(data-hook='workoutDate')
  hr
  .row
    .small-12.columns.panel(data-hook='activities')
  .row
    .small-12.columns.panel
      h3 What you typed
      blockquote
        pre(data-hook='raw')
