section
  .row
    .medium-9.small-12.columns
      h1 Workouts
    .medium-3.small-12.columns
      br
      a.radius.button.right(href='/workouts/new') Log new workout
  hr
  .row
    .large-6.medium-12.columns
      p Here are some workouts you've logged, click on the name of one to view it
    .large-6.medium-12.columns(data-hook='summaries')
