section
  .row
    ul.breadcrumbs
      li.current
        a(href='/workouts') Workouts
  .row
    .medium-3.medium-offset-9.small-12.columns
      br
      a.radius.button.right(href='/workouts/new') New workout
  hr
  .row
    .medium-6.columns
      p Here are some workouts you've logged, click on the name of one to view it.  Use the arrows below to find more.
    .medium-6.columns
      .row
        .small-12.columns
          p(data-hook='summaries')
      .row
        .small-6.columns
          button.round.tiny.button.left(data-hook='workouts-prev') &lArr;
        .small-6.columns
          button.round.tiny.button.disabled.right(data-hook='workouts-next' disabled) &rArr;
