section
  .row
    .medium-9.small-12.columns
      h1(data-hook='workoutName')
      h3(data-hook='workoutDate')
    .medium-3.small-12.columns
      br
      a.radius.button.right(href='/workouts/new') Edit this workout
  hr
  .row
    .small-12.columns.panel(data-hook='activities')
  .row
    .small-12.columns.panel
      h3 What you typed
      blockquote
        pre(data-hook='raw')
