section
  .row
    .medium-9.small-12.columns
      h1 Workouts
    .medium-3.small-12.columns
      br
      a.radius.button.right(href='/workouts/new') Log new workout
  hr
  .row
    .large-6.medium-12.columns
      p Here are some workouts you've logged, click on the name of one to view it.  Use the buttons to find more workouts you've logged
    .large-6.medium-12.columns
      .row
        .small-12.columns
          p(data-hook='summaries')
      .row
        .small-6.columns.left(data-hook='prevPage')
          button.round.tiny.button(href='#' data-hook='workoutsPrev') &lArr;
        .small-6.columns.right(data-hook='nextPage')
          button.round.tiny.button.disabled(href='#' data-hook='workoutsNext' disabled) &rArr;

