body
  nav.navbar.navbar-default
    div.container-fluid
      div.navbar-header
        a.navbar-brand(href='/') Workout Logger
      ul.nav.navbar-nav(role='nav-items')
        li
          a(href='/') Log
        li
          a(href='/fitocracy') Fitocracy
        li
          a(href='/about') About
  .container
    main(data-hook='page-container')
